.scroller 
{
  width: 300px;
  height: 500px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}
#delete_item
{
  float: right;
  width : 5%;
  margin-top: 32px;
  margin-right : 50px;
}
.category:hover{
  background:rgb(250, 238, 238);
}
.category{
  border: 1px solid black;
  padding: 1px;
  float: left;
  margin-left: 70px;
  width: 50%;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 30px;
}
input[type='text'] {
  background: rgb(255, 255, 255);
  border: 2px solid rgb(224, 224, 224);
  padding: 7px;
  border-radius: 20px;
  margin-left: -100px;
}

.col2 {
  flex: 1;
  text-align: center;
  width: 100%;
}

.col1 {
  flex: 3;
  width: 500px !important;
}

.canvas-container {
  display: flex;
  flex-wrap: wrap;
}

.btnn {
background-color: DodgerBlue;
border: none;
color: white;
padding: 12px 16px;
font-size: 16px;
cursor: pointer;
}

/* Darker background on mouse-over */
.btnn:hover {
  background-color: RoyalBlue;
}

center {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
}

.form input[type='submit'] {
  width: 50%;
  height: 35px;
}

.form input[type='file'] {
  background: rgb(245, 245, 245);
  padding: 5px;
  border-radius: 20px;
}

.form input {
  width: 100%;
  margin: auto;
  border-radius: 20px;
  height: 25px;
  border: 2px solid rgb(219, 219, 219);
}

.form {
  width: 400px;
  margin: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

input:focus 
{
    outline: none;
}

button 
{
    background: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 15px;
    border: 1px solid black;
    margin: 10px;
}

form input:focus 
{
    outline: none;
}

canvas 
{
    border: 1px solid black;
}
