<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/style.css"></style>
    <title>WeDiagnostiX</title>

    {% load static %}

  <body>
    <center>
      <h1> Image processing</h1>
    </center>

    <form action="." method="post" enctype="multipart/form-data" class="form">
      {% csrf_token %}
      {{form.as_p}}

      <div style="text-align: center;">
        <input name="submit" type="submit" id="mybutton" class="btn btn-lg btn-success"> </input>
      </div>
    </form>

    {% block content %}
    {% endblock content %} 
  </body>

  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.3/fabric.min.js"></script>
  <script src="{% static 'annotate.js' %}"></script>
</html>
